@import "slick";
@import "slick-theme";
@import "semantic-ui";

$milk_white: whitesmoke;
$transparent_milk_white: rgba(245,245,245,0.8);
$white_green: #effff3;
$background-color: rgba(124, 214, 197, 0.78);
$light_grey: #BBADAD;
$light_brown: #403632;
$very_dark_grey: #2A2929;
$dark_grey: #303030;
$mira_teal: darkcyan;

/* Separate fonts wth coma when needed */
@font-face {
  font-family: 'sunnyspringday';
  src: url('/assets/sunnyspringday.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



.miraMenu{
  font-family: 'sunnyspringday' !important;
  font-size: 1.6em !important;
}

.specificFont{
  font-family: 'sunnyspringday' !important;
  font-size: 1.3em !important;
}

.specificBigFont{
  font-family: 'sunnyspringday' !important;
  font-size: 4em !important;
}
.mainHeader{
  font-family: 'sunnyspringday' !important;
  font-size: 3em !important;
  text-align: center;
  //color: darkcyan;
  color: #0f7158;
}

.oblique{
  font-style: oblique;
}

.bigFont{
  font-size: 1.2em;
}

.inlineblock{
  display: inline-block !important;
}

#link-to-cart{
  vertical-align: bottom;
}

body {
  //background-color: $white_green !important;
  background-image: url('/assets/bg12_12.jpg') !important;
  background-size: cover !important;
  //background: -webkit-linear-gradie3t(90deg, rgb(213, 248, 236), rgb(179, 242, 209));
  //background: linear-gradient(90deg, rgb(213, 248, 236), rgb(179, 242, 209));
}

.carrouselImage{
  margin-right: 15px;
  //border: solid 1px grey;
}

.mainContainer{
  margin-top: 1% !important;
  padding-bottom: 1% !important;
  min-height: 600px;
  background: linear-gradient(90deg, rgba(3, 98, 134, 0.18), rgba(83, 230, 189, 0.18));
  //background: linear-gradient(90deg, rgba(8, 172, 234, 0.26), rgba(76, 193, 166, 0.29));
  //background: linear-gradient(90deg, rgba(67, 208, 186, 0.31), rgba(76, 193, 166, 0.29));
  //background-color: $background-color;
}

#footer {

  padding-top: 1%;
}

.pagination{
  margin-top: 25px !important;
}
.pagination > .first{
  padding: 10px !important;
}
.pagination > .prev{
  padding: 10px !important;
}
.pagination > .next{
  padding: 10px !important;
}
.pagination > .page{
  padding: 10px !important;
}

.mainLogo{
  margin-top: 20px !important;
  width: 70px !important;
}
#main-image{
  height: 450px;
}

.selected{
  background-color: grey;
}

.normalBorder{
  border: 1px solid $light_grey;
}

.normal_price{
  font-size: 1.3em;
  color: $light_brown;
  margin-top: 20px;
  margin-bottom: 20px;
}

#product-properties{
  margin-top: 60px;
}

.listOfAdvantages{
  padding-top: 25px;
}

.cardDimmerHeader{
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px;

}

.cardDimmerText{
  font-size: 0.95em;

  padding-left: 10px;
  padding-right: 10px;
}

.slightlyLonelyDivider{
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.lonelyDivider{
  margin-top: 50px !important;
  margin-bottom: 40px !important;
}

.veryLonelyDivider{
  margin-top: 70px !important;
  margin-bottom: 50px !important;
}

.lonelyDiscreteDivider{

  margin-bottom: 30px !important;
  text-align: center;
  color: grey !important;
}

.justifiedText{
  text-align: justify;
}

.bottomMargin{
  margin-bottom: 20px !important;
}

.topMargin{
  margin-top: 20px !important;
}

.discreteText{
  color: $very_dark_grey;
}
.veryDiscreteText{
  color: $dark_grey;
}

.centeredText{
  text-align: center;
}

.coupon_and_update{
  margin-top: 25px;
}

.custom_checkout_progress{
  margin-top: 35px;
  margin-bottom: 45px;
}

#payment-method-fields{
  margin-top: 25px;
  margin-bottom: 25px;
}

#credit-card-image{
  margin-bottom: 20px;
}

.stickyDivider{
  margin-top: 0.6rem !important;
  margin-bottom: 0.3rem !important;
}

.forcedBlack{
  color: black !important;
}

.miraSectionTitle{
  font-family: 'sunnyspringday' !important;
  font-size: 1.7em !important;
  //color: $mira_teal;
  text-align: center;
  margin-top: 25px;
}

.arrow_thin{
  margin-left: 45% !important;
  margin-top: 10% !important;
}

.thin_image{
  height: 700px !important;
  margin-right: -2px !important;
}
.tallPictures{
  width: 110%;
  overflow: hidden;
  height: 700px;
}

//.mainTitle{
//  position: absolute;
//  font-family: 'sunnyspringday' !important;
//  font-size: 24em !important;
//  text-align: center;
//  color: #00c5ad;
//  opacity: 0.95;
//  bottom: 16%;
//  left: 35%;
//  text-decoration-color: white;
//  text-shadow: 2px 0 0 #00351e, -2px 0 0 #024845, 0 2px 0 #103126, 0 -2px 0 #00422d, 1px 1px #004629, -1px -1px 0 #00695f, 1px -1px 0 #013c31, -1px 1px 0 #0b2b22;
//}

//.mainTitle {
//  position: absolute;
//  font-family: 'sunnyspringday' !important;
//  font-size: 15em !important;
//  text-align: center;
//  color: #e2e2e2;
//  opacity: 0.95;
//  bottom: 11%;
//  left: 42%;
//  text-decoration-color: white;
//  text-shadow: 2px 0 0 #2b9668, -2px 0 0 #024845, 0 2px 0 #103126, 0 -2px 0 #00422d, 1px 1px #004629, -1px -1px 0 #00695f, 1px -1px 0 #013c31, -1px 1px 0 #0b2b22;
//}

.mainTitle {
  position: absolute;
  bottom: 4%;
  left: 37%;
}