
<h1 class="specificMidFont">Conditions Generales de Vente</h1>

<h1 class="specificFont">Preambule</h1>
<p class="justifiedText">


</p>
<p class="justifiedText">
  Les présentes conditions sont conclues entre, d'une part, la société MIRA, SAS au
  capital de 2000€ inscrite au RCS de Sedan sous le numéro xxx xxx xxx, située 6, rue de l’égalité, 08000 Villers-Semeuse,
  +33 6 80 08 69 89, contact@mymira.fr, ci-après dénommée "MIRA SAS", et, d'autre part, les personnes souhaitant effectuer un
  achat via le site Internet de commerce électronique objets-tendance.com (le "Site"), ci-après dénommées "le client".
  Le client ayant validé une commande sera alors dénommé "acheteur".
  <br>

  Le site mymira.fr est la propriété de MIRA SAS en sa totalité, ainsi que l'ensemble des droits y afférents.
  <br>

  Toute reproduction, intégrale ou partielle, est systématiquement soumise à l'autorisation des propriétaires.
  <br>

  Toutefois, les liaisons du type hypertextes vers le site sont autorisées sans demandes spécifiques.
</p>


<h1 class="specificFont">Acceptation des conditions</h1>

<p class="justifiedText">
  Le client qui souhaite acheter sur le site déclare avoir la pleine capacité juridique.
  <br>

  Le client reconnaît avoir pris connaissance, au moment de la passation de commande, des conditions particulières de vente
  énoncées sur cet écran et déclare expressément les accepter sans réserve.
  <br>

  Les présentes conditions générales de vente régissent les relations contractuelles entre MIRA et son client,
  les deux parties les acceptant sans réserve. Ces conditions générales de vente prévaudront sur toutes autres conditions
  figurant dans tout autre document, sauf dérogation préalable, expresse et écrite.
  <br>
</p>


<h1 class="specificFont">Produits</h1>
<p class="justifiedText">
  Les photographies illustrant les produits, n'entrent pas dans le champ contractuel. Si des erreurs y figurent, en aucun cas, la responsabilité de MIRA ne pourra être engagée.
  <br>
</p>


<h1 class="specificFont">Commande</h1>
<p class="justifiedText">
  Les systèmes d'enregistrement automatique sont considérés comme valant preuve, de la nature, du contenu et de la date de la commande. MIRA confirme l'acceptation de sa commande au client à l'adresse mail que celui-ci aura communiqué. La vente ne sera conclue qu'à compter de la confirmation de la commande. MIRA se réserve le droit d'annuler toute commande d'un client avec lequel existerait un litige relatif au paiement d'une commande antérieure. Les informations énoncées par l'acheteur, lors de la prise de commande engagent celui-ci : en cas d'erreur dans le libellé des coordonnées du destinataire, le vendeur ne saurait être tenu responsable de l'impossibilité dans laquelle il pourrait être de livrer le produit. Les frais de réexpédition seront à la charge de l'acheteur.
  <br>
</p>


<h1 class="specificFont">Livraison</h1>
<p class="justifiedText">
  Sauf mention expresse en page d'accueil du site ou sur la fiche article ou sur la validation de la commande, après confirmation de commande, MIRA s'engage à expédier toutes les références commandées par l'acheteur, et disponibles, dans un délai maximum de un à deux jours ouvrés pour la France métropolitaine.
  <br>
  Pour les livraisons hors de la France métropolitaine, s'ajoute le délai d'acheminement par poste prioritaire. Le client s'engage à régler toutes les taxes dues à l'importation de produits, droit de douane, taxe sur la valeur ajoutée, et toutes autres taxes dues en vertu des lois du pays de réception de la commande.
  <br>
  Toutes les commandes passées à MIRA sont destinées à l'usage personnel des clients, les clients ou les destinataires des produits s'interdisent toute revente partielle ou totale des produits. MIRA se dégage de fait de toute responsabilité juridique si l'acquittement des taxes n'était pas effectué par le client.
  La livraison sera effectuée par la Poste en colis suivi. Les retards éventuels, pertes ou avaries sont de la responsabilité de la Poste et ne donnent pas le droit à l'acheteur de réclamer des dommages et intérêts.
  En cas de défauts apparents, l'acheteur bénéficie du droit de retour dans les conditions prévues dans ce document.
  <br>
  Sont considérés comme cas de force majeure déchargeant le vendeur de son obligation de livrer, la guerre, l'émeute, l'incendie, les grèves, les accidents et l'impossibilité d'être approvisionnés.
  <br>
  Les marchandises voyagent toujours aux risques et périls du destinataire. Vérifiez toujours votre colis à l'arrivée et faites dans les 24 heures les éventuelles réserves auprès du transporteur en cas de manquant ou de dégradation.
  <br>
  Pour des raisons de disponibilité, une commande peut être livrée en plusieurs fois au client. Le client ne règle alors qu'une seule livraison. Si le client souhaite 2 lieux de livraison, il passe 2 commandes, avec les frais de livraison liés.
</p>

<h1 class="specificFont">Retour et droit de retractation</h1>
<p class="justifiedText">
  Vous avez quatorze jours à compter de la réception des articles pour vous faire une opinion.
  <br>
</p>

<h1 class="specificFont">Retour de produits defectueux</h1>
<p class="justifiedText">
  Nous mettons tout en œuvre pour que nos articles répondent aux critères de qualités les plus stricts. Toutefois, il peut se produire qu'un article soit défectueux. Dans ce cas, nous vous remercions de nous écrire (à contact@mymira.fr) en précisant le plus de détail possible et joignent une ou plusieurs photos, y compris de l'emballage postal, si vous estimez que l'article a pu être détérioré pendant son transport. À réception de votre demande, nous vous indiquerons la procédure de retour par email.
  <br>
  Nous vous proposerons ensuite de vous renvoyer le même article sans frais supplémentaire pour vous ou, selon votre décision de vous rembourser l'intégralité de sommes versées y compris les frais de retour.
  <br>
</p>


<h1 class="specificFont">Retour des articles et droit de retractation</h1>
<p class="justifiedText">
  Si l'article ou les articles que vous savez commandés ne vous conviennent pas ou que vous avez changé d'avis, vous pouvez exercer votre droit de rétractation pour nous retourner les articles.
  Pour exercer le droit de rétractation, vous devez nous notifier par email (contact@mymira.fr) en indiquant vos nom, adresse, téléphone, email, fax, votre décision de rétractation du présent contrat au moyen d’une déclaration dénuée d’ambiguïté. Vous pouvez utiliser notre formulaire de rétractation mais ce n’est pas obligatoire. Vous pouvez également remplir et transmettre ce formulaire de rétractation ou toute autre déclaration dénuée d’ambiguïté sur notre site internet www.mymira.fr. Si vous utilisez cette option, nous vous enverrons sans délai un accusé de réception de la rétractation par email.
  Vous devrez renvoyer le(les) article(s) neuf(s) complet(s) et intact(s) accompagné(s) des accessoires éventuels par voie postale en colis suivi, sans retard excessif et au plus tard quatorze jours après que vous nous aurez communiqué votre décision de rétractation, ce délai est réputé respecté si vous renvoyez le bien avant l'expiration du délai de quatorze jours à l'adresse suivante :
  <br>
  MIRA SAS
  <br>
  6 rue de l’égalité
  <br>
  08000 Villers-Semeuse
  <br>
  <br>

  Enfin, lors du renvoi des articles, vous devrez nous adresser un email (contact@mymira.fr) qui précisera la date d'envoi et le numéro de suivi du colis de retour.
  <br>
  En cas d'exercice du droit de rétractation, et seulement pour les expéditions en France, MIRA est tenu au remboursement des sommes versées par le client, sans frais, à l'exception des frais de port de retour. Le remboursement est effectué dans un délai maximum de 14 jours à compter de la réception et de la vérification par MIRA des articles retournés par le Client. En cas d'annulation partielle de la commande, les frais de port d'envoi ne pourront être remboursés car ces frais correspondent à l'expédition de l'ensemble de la Commande.
  <br>
  En cas d'exercice du droit de rétractation pour les expéditions hors de France, MIRA est tenu au remboursement du prix des articles payés par le client, sans frais, à l'exception des frais de port d'envoi et des frais de port de retour. Le remboursement est effectué dans un délai maximum de 14 jours à compter de la réception et de la vérification par MIRA des articles retournés par le Client.
  <br>
  Si les conditions enoncees ci-dessus ne sont pas respectees, le retour ne pourra pas être pris en compte.
</p>


<h1 class="specificFont">Echange</h1>
<p class="justifiedText">
  Si vous vous êtes trompé dans votre commande et que vous souhaitez l'échanger, vous devez au préalable nous signifier cet échange par email à contact@mymira.fr puis renvoyer, en colis suivi, le(les) article(s) neuf(s) complet(s) et intact(s) accompagné(s) des accessoires éventuels, à l'adresse suivante :
  <br>
  MIRA SAS
  <br>
  6 rue de l’egalite
  <br>
  08000 Villers-Semeuse
  <br>

  Lors de l'envoi, vous devrez nous adresser un email (contact@mymira.fr) qui précisera la date d'envoi et le numéro de suivi du colis de retour, les frais de retours sont à votre charge.
  <br>
  Dès réception, de votre retour, nous vous expédierons l'article souhaite.
  <br>
  Si nous nous sommes trompés dans le traitement de votre commande, vous devez nous le signaler par mail, nous nous engageons à vous renvoyer sans délai l'article initialement commandé sans vous occasionner de frais, et avec nos plus plates excuses. Nous prenons en charge le frais de retour de l'article envoyé par erreur.
  <br>
</p>


<h1 class="specificFont">Estimation des frais de port retour</h1>
<p class="justifiedText">
  Lorsque vous nous retournez un article et que les frais de port retour sont à votre charge, vous devez expédiez l'article par la poste en colis suivi. Les frais de port retour par voie postale ci-dessous sont donnés à titre indicatif ; ils peuvent être soumis à variation à la hausse ou à la baisse en fonction des conditions tarifaires de la Poste.
  <br>
  Jusqu'à 40 grammes (une trousse par exemple) : 2,75€ à 6,46€ selon le volume
  <br>
  Jusqu'à 50 grammes (un petit carnet par exemple) : 3,65€ à 6,46€ selon le volume
  <br>
  Jusqu'à 100 grammes (un carnet 13*18 par exemple) : 4,70€ à à 6,46€ selon le volume
  <br>
  Jusqu'à 250 grammes : 6,46€
  <br>
  Jusqu'à 500 grammes : 7,18 €
  <br>
  Jusqu'à 750 gramme : 8,04 €
  <br>
  Jusqu'à 1 kg : 8,71 €
  <br>
  Jusqu'à 2 kg : 9,67 €
  <br>
  Jusqu'à 3 kg : 10,63 €
</p>



<h1 class="specificFont">Prix</h1>
<p class="justifiedText">
  Le prix est exprimé en euros.
  <br>
  Le prix indiqué sur les fiches produit ne comprend pas le transport.
  <br>
  Le prix indiqué dans la confirmation de commande est le prix définitif, exprimé toutes taxes
  comprises et incluant la TVA pour la France et les pays de la C.E.E.. Ce prix comprend le prix des produits, les frais de port et d'emballage.
  <br>
</p>


<h1 class="specificFont">Paiement</h1>
<p class="justifiedText">
  Le prix facturé au client est le prix indiqué sur la confirmation de commande adressée par
  MIRA. Le prix des produits est payable au comptant le jour de la commande effective.
  <br>
  Le paiement s'effectue par carte bancaire portant le sigle CB. Afin d'assurer la sécurité des
  paiements MIRA utilise les services de paiement sécurisé :
  <br>
  xxxx
  <br>
  xxxx

  dans un environnement sécurisé. Votre numéro de carte bancaire est donc dirigé vers les serveurs de la banque, votre règlement s'effectue directement à une banque dans un environnement sécurisé sans passer par le serveur de la boutique, garantie d'autant plus importante que vos numéros sont connus seulement de notre partenaire bancaire.
  <br>
  En cas de refus des dits centres, la commande sera automatiquement annulée et le client prévenu par courrier électronique.
  <br>
  Le client peut aussi payer par chèque ou par virement.
  <br>
  En cas de paiement par chèque bancaire, celui-ci doit être émis par une banque domiciliée en France métropolitaine ou Monaco libellé à l'ordre de MIRA. La commande validée par le client ne sera considérée effective que lorsque MIRA aura été crédité du chèque ou du virement ; la commande sera alors considérée comme confirmée.
  Par ailleurs, MIRA se réserve le droit de refuser toute commande d'un client avec lequel existerait un litige.
</p>


<h1 class="specificFont">Litiges</h1>
<p class="justifiedText">
  Le présent contrat est soumis au droit français. MIRA ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu'immatériels ou corporels, qui pourraient résulter d'une mauvaise utilisation des produits commercialisés. Il en est de même pour les éventuelles modifications des produits résultant des fabricants. La responsabilité de MIRA sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits. En cas de difficultés dans l'application du présent contrat, l'acheteur a la possibilité, avant toute action en justice, de rechercher une solution amiable notamment avec l'aide : d'une association professionnelle de la branche, d'une association de consommateurs ou de tout autre conseil de son choix. Il est rappelé que la recherche de la solution amiable n'interrompt pas le " bref délai " de la garantie légale, ni la durée de la garantie contractuelle. Il est rappelé qu'en règle générale et sous réserve de l'appréciation des Tribunaux, le respect des dispositions du présent contrat relatives à la garantie contractuelle suppose que l'acheteur honore ses engagements financiers envers le vendeur.
  <br>
  Les réclamations ou contestations seront toujours reçues avec une bienveillance attentive, la bonne foi étant toujours présumée chez celui qui prend la peine d'exposer ses situations. En cas de litige, le client s'adressera par priorité à l'entreprise pour obtenir une solution amiable.
  <br>
  À défaut, le Tribunal de Commerce de SEDAN est seul compétent, quels que soient le lieu de livraison et le mode de paiement acceptés.
</p>


<h1 class="specificFont">Garantie</h1>
<p class="justifiedText">
  Dans tous les cas MIRA ne pourra être tenu pour responsable pour non-respect des dispositions réglementaires et législatives en vigueur dans le pays de réception, la responsabilité de MIRA est systématiquement limitée à la valeur du produit mis en cause, valeur à sa date de vente et ce sans possibilités de recours envers la marque ou la société productrice du produit.
  <br>
  En toute hypothèse, le client bénéficie de la garantie légale d'éviction et des vices cachés (Art.1625 et suivants du Code Civil). À la condition que l'acheteur fasse la preuve du défaut caché, le vendeur doit légalement en réparer toutes les conséquences (art.1641 et suivants du code civil) ; si l'acheteur s'adresse aux tribunaux, il doit le faire dans un " bref délai " à compter de la découverte du défaut caché (art.1648 du code civil). Vous pouvez contacter le service clients : 5 jours sur 7 (du lundi au vendredi inclus) au numéro suivant :
  + 33 6 80 08 69 89 ou par mail à contact@mymira.fr (réponse dans les 48 heures)
</p>



<h1 class="specificFont">Informations legales</h1>
<p class="justifiedText">
  Le renseignement des informations nominatives collectées aux fins de la vente à distance est obligatoire, ces informations étant indispensables pour le traitement et l'acheminement des commandes et l'établissement des factures. Le défaut de renseignement entraîne la non-validation de la commande. Conformément à la loi " Informatique et Libertés ", le traitement des informations nominatives relatives aux clients a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) sous le numéro 1430068. Le client dispose (article 34 de la loi du 6 janvier 1978) d'un droit d'accès, de modification, de rectification et de suppression des données qui le concernent, qu'il peut exercer auprès de MIRA. De plus, MIRA s'engage à ne pas communiquer, gratuitement ou avec contrepartie, les coordonnées de ses clients à un tiers.
</p>
