<div class="ui stackable grid">
  <div class="three wide column"></div>
  <div class="ten wide column">
    <div>
      <strong><%= Spree.t(:authorization_failure) %></strong>
    </div>
  </div>
  <div class="three wide column"></div>
</div>

<!-- Add your own custom access denied message here if you like -->
